<div class="header-container">

  <div class="header-videoflix" *ngIf="actroute !== '/videos'">
    <span (click)="goToLogin()">VIDEOFLIX</span>
  </div>

  <!-- For Video-Url -->
  <div class="header-videoflix2" *ngIf="actroute == '/videos'">
    <span (click)="goToLogin()">VIDEOFLIX</span>
  </div>
  
  <!-- For Video-Url -->
  <div id="menu" *ngIf="actroute == '/videos'">
    <button (click)="logoutUser()" id="btn" class="button-79" role="button">Logout<mat-spinner id="spinner" class="customize-mat-spinner d-none"></mat-spinner> </button>
  </div>

</div>