:host{
    width:100vw;
}

.header-container {
    display:flex;
    align-items:center;
    justify-content: flex-start;
    height:10vh;
}

.header-videoflix {
  display:flex;
  height: 100%;
  width:200px;
  position: relative;
}

.header-videoflix span {
  position: absolute;
  top: calc(10vh / 2  - 10px);
  left: 0;
  right: 0;
  margin-left:50px;
  font-size: 48px; /* anpassen wie gewünscht */
  font-weight: bold; /* anpassen wie gewünscht */
  text-transform: uppercase;
  transform: skew(-20deg); /* anpassen wie gewünscht */
  color:red;
}


@media (min-width:280px) and (max-width:500px) {
  .header-container {
    justify-content: center;
}
.header-videoflix {
  width:244px;
}
.header-videoflix span {
  margin-left:unset;
}
}
