:host{
    width:100vw;
}

.footer-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    background-color: rgba(0, 0, 0, 0.7);
}


.footer-videoflix{
    color:grey;
    font-size: 16px;    
}

:hover .footer-videoflix{
 cursor: pointer;
 text-decoration: underline;
}
