:host{
    width:100vw;
}

.footer-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:10vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-container-alt {
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:0;
    right:0;
    height:10vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-videoflix{
    color:grey;
    font-size: 16px;    
}

:hover .footer-videoflix{
 cursor: pointer;
 text-decoration: underline;
}
