:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: yellow;
    // border: 4px solid red;
    min-height: 80vh;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.login-margin-bottom {
    margin-bottom: 10px;
}

.login-go-to-registration {
    display: flex;
    flex-direction: row;
    color: white;
}

.login-header {
    display: flex;
    color: white;
}

.login-new {
    color: grey;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 5px;

    &:hover {
        text-decoration: underline;
    }
}

input{
    height:38px;
    border-radius: .375rem;
    outline:none;
    cursor: text;
    ::placeholder{
        color:black;
     }
}





/* BUTTON */
.button-79 {
  backface-visibility: hidden;
  background: red;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 12px 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.03);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.03) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}