<app-header></app-header>
<div class="login-container">

    <form (ngSubmit)="loginUser()" class="login-form">
        <input class="login-margin-bottom" [(ngModel)]="email" name="email" type="text" placeholder="E-Mail">
        <input class="login-margin-bottom" [(ngModel)]="password" name="password" type="text" placeholder="Password">
        <button class="login-margin-bottom">Einloggen</button>
        <button class="login-margin-bottom" (click)="goToRegister()">Registrieren</button>
    </form>

</div>
<app-footer></app-footer>