:host{
    display:flex;
    flex-direction: column;
}

.logout-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-height:80vh;
}

.logout-message {
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 55vw;
    padding: 25px;
    text-align: center;
}


@media (min-width:280px) and (max-width:500px) {
    .logout-message {
      width: 100%;
    }
  }
  