<app-header></app-header>
<div class="videos-container">

  <div *ngFor="let video of videos" class="videos-box">
    
    <div class="video-title">{{ video.title}}</div>
    <img id="{{ video.id }}" src="https://videoflix.russell-tchamba.de{{ video.picture }}" (mouseenter) ="showInfoCard($event)"  (mouseleave) ="hideInfoCard($event)">

    <!-- Info-Card of the Video on hover -->
    <div id="video-info-card-{{ video.id }}" class="video-info-card d-none" (mouseenter) ="showInfoCard($event)"  (mouseleave) ="hideInfoCard($event)">
      <img src="https://videoflix.russell-tchamba.de{{ video.picture }}">
      <div class="video-info-card-textbox">
        <div class="desc"><b>Description:</b> {{ video.description}}</div>
        <div class="genr"><b>Genre:</b> {{ video.genres}}</div>
        <div class="plyt"><b>Playtime:</b> {{ video.playtime}}</div>
        <div class="video-info-card-iconbox">
          <div class="video-info-card-circle"><img id="video-info-card-like-{{ video.id }}" class="video-info-card-icons like" src="~/../assets/img/like-32.png"></div>
          <div class="video-info-card-circle"><img id="video-info-card-play-{{ video.id }}" class="video-info-card-icons play" src="~/../assets/img/play-32.png"></div>
        </div>
      </div>
    </div>

  </div>
    



  <!-- Box where the Video is shown when clicked on the thumbnail -->
  <div id="video-container" class="video-container d-none">
    <div id="video-close" class="video-center">

    <div class="video-container-for-res">
      <video id="actvid" controls [src]="vidsrc"></video>
      <div id="video-resolution">
        <div><img src="~/../assets/img/arrow-16.png"></div>
        <div id="res-1080" (click)="changeResolutionTo('1080')" class="video-res d-none">1080 px</div>
        <div id="res-720" (click)="changeResolutionTo('720')" class="video-res d-none">720 px</div>
        <div id="res-480" (click)="changeResolutionTo('480')" class="video-res d-none">480 px</div>
      </div>
    </div>  

    <img  id="video-close2" class="video-close" src="~/../assets/img/x-mark-24.png">
    </div>
  </div>



</div>
<app-footer></app-footer>