<app-header></app-header>
<div class="videos-container">
    <p>videos works!</p>
  <div *ngFor="let video of videos" id="{{ video.id }}" class="videos-box">
    
    <!-- <div>{{ video.description}}</div>
    <div>{{ video.playtime}}</div>
    <div>{{ video.genres}}</div>
    <div>{{ video.likes}}</div>  -->

      <div class="video-title">{{ video.title}}</div>
      <img src="https://videoflix.russell-tchamba.de{{ video.picture}}">

    
    <!-- <div>{{ video.created_at}}</div>
    <div>{{ video.video_file}}</div> -->
    <!-- <button class="login-margin-bottom" (click)="changeVideo(video.id)">Like</button> -->
  </div>
    
</div>
<app-footer></app-footer>