<app-header></app-header>
<div class="register-container">
    
    <div class="register-text">
    <h1>Unlimited movies, TV shows, and more.</h1>
    <div>Watch anywhere. Cancel anytime.</div>
    <div>Ready to watch? Enter your email to create or restart your membership.</div>
    </div>

    <form (ngSubmit)="registerUser()" class="register-form">
    <input class="register-margin-bottom" [(ngModel)]="username" name="username" placeholder="username">
    <input class="register-margin-bottom" [(ngModel)]="email" name="email" placeholder="email">
    <input class="register-margin-bottom" [(ngModel)]="password" name="password" placeholder="password">
    <input class="register-margin-bottom" [(ngModel)]="password2" name="password2" placeholder="password">
    <button>Get Started</button>
    </form>
</div>
<app-footer></app-footer>




